doctype html
html
    head
        title= title
        link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    body
        div.container
            div.jumbotron
                p
                    a(class="btn btn-default btn-lg btn-block", href="/donor") Donors
                p
                    a(class="btn btn-default btn-lg btn-block", href="/shelter") Shelters
                p
                    a(class="btn btn-default btn-lg btn-block", href="/household") Households
            