doctype html
html
    head
        title= title
        link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    body
        div.container
            div(class="panel panel-default")
                div(class="panel-heading") 
                    h1 Shelters
                div(class="panel-body")
                    p Content
            